@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display:wght@700&display=swap');
 
 
 body{
    font-family: 'Open Sans Condensed', sans-serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;
    margin: 0;
 }

 .myName{
     color:#FFA500;
 }
 .top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom:150px ;
}



.half-width{
    width:50%;
    padding-left: 2%;
}

.intro_container{
    padding-left: 7%;
}


.half-width img{
    width: 80%;
}

 .link-btn {
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    color:#ffff;
    font-weight:900 ;
    text-transform: uppercase;
}

/* ################################# */

.section2{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}

.resumi-btn{
    text-transform:uppercase;
}

.section3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 115px;
    margin-bottom: 150px;
}

.section3-inside{
    display: flex;
   width: 100%;
    
}

.time-intro{
    color:#FFA500
}

.exparience-intro{
     width: 40%;
     margin-left: 5%;
     margin-right: 5%;
     box-shadow: 10px 10px 40px gray;
     padding-left: 30px;
     padding-top: 5px;
     padding-bottom: 50px;
}

.exparience-intro p{
    color:#696969;
}

#full-stack-exp{
    border-left:7px solid;
    border-image: linear-gradient(#FF9A75, #FF684B);
    border-image-slice: 1;
}

#baby-exp{
    border-left:7px solid;
    border-image: linear-gradient(#003FFF ,#00E1FF);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    color: #969696;
    font-weight: bold;
}

 